body {
  background-color: rgb(226, 218, 207);
}

.game-block {
  margin-top: 150px;
}

.play{
  font-size: 46px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 800px;
  height: 40px;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
}

button{
  font-size: 20px;
  width: 350px;
  height: 40px;
  background-color: rgb(94, 116, 106);
  border-radius: 10px;
  margin-top: 70px; 
}


.game{
  width: 600px;
  height: 200px;
  border-bottom: 1px solid black;
  margin: auto;
}

#dino{
  background-image: url(/images/dinosaur-w.png);
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  position: relative;
  top: 150px;
  left: 20px;
}

#cactus{
  background-image: url(/images/cactus-transp.png);
  width: 20px;
  height: 40px;
  background-size: 20px 40px;
  position: relative;
  left: 580px;
  top: 108px;
  animation: cactusMov 2s infinite linear;
}

@keyframes cactusMov{
  0%{
    left: 580px;
  }
  100%{
    left: -20px;
  }
}

.jump{
  animation: jump 0.5s linear;
}

@keyframes jump{
  0%{
    top: 150px;
  }
  30%{
    top: 130px;
  }
  50%{
    top: 80px;
  }
  80%{
    top: 130px;
  }
  100%{
    top: 150px;
  }
}
